*{
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    color: #FF6F61;
}

body{
    margin: 0;
    padding: 10%;
    background-image: url("https://i.ibb.co/pfxvZDZ/indian-restaurant-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(0, 0, 0, 0.6);
}

#content > h1 {
    font-size: 40px;
}

.tabContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100vw;
    padding: 10px;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tabContainer > button {
    margin: 10px 50px; 
    font-size: 28px;
    padding: 5px 20px;
    border: 0;
    background: none;
}

.tabContainer > button:hover{
    background: lightgray;
    border-radius: 40px;
    transform: scale(1.2);
}